*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.contenedor_principal{
    z-index: 10;
    width: 400px;
    height: 600px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px .2px black;
}
.logo{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    /* background-color: aliceblue; */
    width: 20%;
    height: 80%;
    object-fit: contain;
}
.logo h1{
    color: azure;
    font-weight:500;
    opacity: .9;
}

.recarga_contenedor{
    width: 100%;
    height:82%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.recarga{
    width: 100%;
    height: 5%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.recarga h3{
    color: rgb(224, 15, 15);
    opacity: .8;
}



.input_numeros{
    height: 40%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.input_numeros input{
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }



.banco{
    width: 100%;
    height: 20%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.banco h2{
    padding: 5px;
    border-bottom: 1px solid yellow;
    font-size: 20px;
    color: yellow;
    opacity: .8;
}
.banco select{
    padding: 10px 30px;
    outline: none;
}
.boton_recarga{
width: 190px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 26px 30px;
background-color: white;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.boton_recarga a{
    text-decoration: none;
    color: black;
}